<ul>
    <% for (recipe of recipes){%>
        <li> 
            <a href="/favorite/remove/<%= recipe._id %>">X</a>
            <strong><%= recipe.title %></strong>
            Ingredients: 
            <% for (const ingredient in recipe.ingredients) { %>
                    <%= ingredient + ', ' %>
            <% } %>
        </li>
    <% } %>
</ul>

<!--
    <pre>
        <%= JSON.stringify(recipes,null,5) %>
    </pre>
-->