

    <div class="jumbotron">
        <h1>CPA02: Cooking Recipe Search </h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
        Search for the cooking recipes you want!
    </p>
    
    <% if (true || loggedIn) {%>  
        <form method="post" action="/recipes/byTitle">
            Show Recipes by Title: 
              <input type="text" name="title" 
                     placeholder="e.g. Italian">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/recipes/byIngr">
            Show Recipes by Ingredients: 
            <input type="text" name="ingredient" 
                   placeholder="e.g. yogurt">
            <input type="submit">
        </form>
        <br>
        <a href="/favorite/show">Show Favorites</a>
    <% } %>


